HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.env

### docker
docker/azure-sql-edge/data/*
!docker/azure-sql-edge/data/.gitkeep
docker/azure-sql-edge/log/*
!docker/azure-sql-edge/log/.gitkeep
docker/azure-sql-edge/secrets/*
!docker/azure-sql-edge/secrets/.gitkeep
